<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @simplo_order.order_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @simplo_order.name %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @simplo_order.order_date %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @simplo_order.order_status %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @simplo_order.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @simplo_order.email %>
</p>

<%= link_to 'Edit', edit_simplo_order_path(@simplo_order) %> |
<%= link_to 'Back', simplo_orders_path %>
