<h3><%= link_to "Pedido produto envio imediato", immediate_delivery_path %></h3>
<h3><%= link_to "Pedido Motoboy", motoboy_path %></h3>

<table id="order_table" class="table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Id Pedido</th>
      <th>Name</th>
      <th>Data Pedido</th>
      <th>Status pedido</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>CEP</th>
      <th>Rastreamento</th>
      <th>Mensagem WhatsApp PC</th>
      <th>Mensagem WhatsApp Celular</th>
    </tr>
  </thead>
  <tbody>
    <% SimploOrder.all.each do |order| %>
      <tr>
        <td><%= order.order_id %></td>
        <td><%= order.name %></td>
        <td><%= order.order_date.strftime("%-d/%-m/%Y %H:%M") %></td>
        <td><%= @status_code.key(order.order_status)%></td>
        <td><%= order.telephone %></td>
        <td><%= order.email %></td>
        <td><%= order.cep %></td>
        <td><%= order.tracking_object %></td>
        <td><a href="https://web.whatsapp.com/send?phone=55<%= order.telephone.delete'() ' %>&amp;text=Oi <%= order.name.split(" ").first %>, sou a Lari da Purchase e recebemos o teu pedido <%= order.order_id %> no site. Vi que seu pagamento é em depósito ou cartão, assim que efetuar pode mandar o comprovante pra mim! Em 3 dias após criado o pedido é cancelado automaticamente. Estou a disposição para tirar suas dúvidas ou informações! ❤" target="_blank">Clique Aqui para mandar uma mensagem pelo WhatsApp</a></td>        
        <td><a href="https://api.whatsapp.com/send?phone=55<%= order.telephone.delete'() ' %>&amp;text=Oi <%= order.name.split(" ").first %>, sou a Lari da Purchase e recebemos o teu pedido <%= order.order_id %> no site. Vi que seu pagamento é em depósito ou cartão, assim que efetuar pode mandar o comprovante pra mim! Em 3 dias após criado o pedido é cancelado automaticamente. Estou a disposição para tirar suas dúvidas ou informações! ❤" target="_blank">Clique Aqui para mandar uma mensagem pelo WhatsApp</a></td>
      </tr>
    <% end %>
  </tbody>
</table>