<table id="order_table" class="table-striped table-responsive">
  <thead>
    <tr>
      <th>Id Pedido</th>
      <th>Name</th>
      <th>Data do pedido</th>
      <th>Status pedido</th>
      <th>Valor total</th>
      <th>Forma de pagamento</th>
      <th>Pagamento Integrador</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Mensagem WhatsApp</th>
    </tr>
  </thead>
  <tbody>
    <% @orders["result"].each do |order| %>
      <tr>
        <td><%= order["Wspedido"]["numero"] %></td>
        <td><%= order["Wspedido"]["cliente_razaosocial"] %></td>
        <td><%= order["Wspedido"]["data_pedido"] %></td>
        <td><%= order["Wspedido"]["pedidostatus_id"] == '2' ? "#{order["Wspedido"]["pedidostatus_id"]}-Não Pago" : "#{order["Wspedido"]["pedidostatus_id"]}-Pago" %></td>
        <td><%= order["Wspedido"]["total_pedido"] %></td>
        <td><%= order["Wspedido"]["pagamento_forma"] %></td>
        <td><%= order["Wspedido"]["pagamento_integrador_id"] %></td>
        <td><%= order["Wspedido"]["cliente_telefone"] %></td>
        <td><%= order["Wspedido"]["cliente_email"] %></td>
        <td><a href="https://web.whatsapp.com/send?phone=55<%= order["Wspedido"]["cliente_telefone"].delete'() ' %>&amp;text=Oi <%= order["Wspedido"]["cliente_razaosocial"].split(" ").first %>, sou a Lari da Purchase e recebemos o teu pedido <%= order["Wspedido"]["numero"] %> no site. Vi que seu pagamento é em boleto ou cartão, assim que efetuar pode mandar o comprovante pra mim! Em 3 dias após criado o pedido é cancelado automaticamente. Estou a disposição para tirar suas dúvidas ou informações! ❤" target="_blank">Clique Aqui para mandar uma mensagem pelo WhatsApp</a></td>
      </tr>
    <% end %>
  </tbody>
</table>